.step-wrapper {
  display: grid;
  grid-template-columns: minmax(208px, min-content) 1fr;
  grid-gap: 2rem;
  align-items: flex-start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    container: inputContainer / inline-size;
  }

  .input-group {
    display: flex;
    * {
      flex: 1;
      width: 100%;
    }

    grid-gap: 0.5rem 1.5rem;
    align-items: flex-start;

    @container inputContainer (width > 656px) {
      flex-direction: row;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
