.button {
    --bg-primary: var(--white-500);
    --bg-secondary: var(--pink-500);
    --bg-dark: var(--black-500);
    --text-primary: var(--black-500);
    --text-secondary: var(--white-500);
    --border-color: rgba(28, 26, 29, 0.6);
    --transition-speed: 400ms;

    min-width: 256px;
    height: 48px;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary);

    color: var(--text-primary);
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 3.85;
    transition: var(--transition-speed);

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
        filter: brightness(0.8);
        outline: none;
    }

    &[data-variant='secondary'] {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        border: none;
    }

    &[data-variant='dark']:hover {
        background-color: var(--bg-dark);
        color: var(--text-secondary);
        border: none;
    }

    svg {
        width: 1.5rem;
        aspect-ratio: 1/1;
    }
}
