.step-container {
    --transition-speed: 400ms;

    padding: 2rem 2rem 1.75rem;
    background-color: var(--bg-primary);
    min-height: 544px;
    box-shadow: 0px 15px 30px 0px var(--shadow-color);
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;

        .step-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }
    }

    .btn-link {
        padding: 0.5rem 0;
        margin: 0;
        color: var(--pink-500);
        text-align: right;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 0;
        background-color: transparent;
        transition: var(--transition-speed);

        &:hover,
        &:focus,
        &:active,
        &:focus-within {
            filter: brightness(0.8);
            outline: none;
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
        margin-top: auto;
    }
}
