.container {
    --text-primary: var(--black-500);
    --text-secondary: var(--white-500);
    --bg-primary: var(--white-500);
    --active-color: var(--pink-500);
    --transition-speed: 400ms;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --separator-color: rgba(34, 34, 34, 0.3);

    display: grid;
    grid-template-columns: 18.5rem 1fr;

    ul,
    ul li,
    ul li {
        margin: 0;
        padding: 0;
        text-indent: 0;
        list-style: none;
    }

    nav {
        .menu {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            box-shadow: 0px 10px 20px 0px var(--shadow-color);

            li {
                color: var(--text-primary);
                font-size: 1rem;
                font-weight: 500;

                &:not(:first-child) {
                    button {
                        box-shadow: 0 -1px 0 var(--separator-color);
                    }
                }

                &.active {
                    color: var(--text-secondary);

                    & + li {
                        button {
                            box-shadow: none;
                        }
                    }

                    button {
                        background-color: var(--active-color);
                        box-shadow: none;
                        &:hover {
                            filter: none;
                        }
                    }
                }

                button {
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    padding: 1rem;
                    border-radius: 0;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 0.5rem;

                    background: var(--bg-primary);
                    cursor: pointer;
                    transition: var(--transition-speed);

                    color: inherit;
                    font-size: inherit;
                    font-weight: inherit;

                    &:hover {
                        filter: brightness(0.7);
                        box-shadow: none;

                        & + li {
                            button {
                                box-shadow: none;
                            }
                        }
                    }

                    &:disabled {
                        cursor: initial;
                    }

                    span {
                        font-size: 1.75rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .content {
        ul {
            position: relative;
            height: 0px;
            list-style: none;
            margin: 0;
            padding: 0;
            transition: var(--transition-speed) all
                cubic-bezier(0.075, 0.82, 0.165, 1);

            li {
                opacity: 0;
                transform: translateX(50px);
                position: absolute;
                list-style: none;
                transition: var(--transition-speed) all
                    cubic-bezier(0.075, 0.82, 0.165, 1);

                &.active {
                    transition-delay: 0.3s;
                    z-index: 2;
                    opacity: 1;
                    transform: translateX(0px);
                }

                p {
                    margin: 0;
                }
            }
        }

        .step-content {
            padding: 2rem 2rem 1.75rem;
            background-color: var(--bg-primary);
            min-height: 544px;
            box-shadow: 0px 15px 30px 0px var(--shadow-color);
        }
    }
}
